/* *{
  border: solid black thin;
} */

header{

  display: inline-block;
  width: 100%;
  margin: 10px auto;

}
header div{

  display: inline-block;
}


body{

  width: 900px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  color: grey;
}
#icons6{

  display: inline-block;
  width: 175px;
  margin-left: 410px;
}

#icons2{

  display: inline-block;
  width: 60px;
  margin-left: 1px;
}

#logoText h1{

  display: inline-block;
  width: 100%
}

#logoText{

  display: inline-block;
  margin-top: 15px;
}
#pizzaDate{

  display: inline-block;
}

#printIcon{

  display: inline-block;
  margin-left: 630px;
}

#printText{

  display: inline-block;
  margin-left: 3px;
}

article #indent {

    text-indent: 50px;
  }
 
 li #linethrough {

    text-decoration: line-through;
  }

#ingredients{

  background-image: url(../img/list-bg.png);
  height: 300px;
  width: 100%;
}

#ingredients-right{

  display: inline-block;
  width: 400px;
  height: 300px;
  padding-top: 32px;
  padding-left: 40px;
  font-size: large;
}

#ingredients-left{

  display: inline-block;
  width: 400px;
  height: 300px;
  padding-top: 32px;
  padding-left: 40px;
  font-size: large;
}

footer{

  display: inline-block;
  width: 100%;
  margin: 10px auto;
}

#footerTop{

  display: inline-block;
 
}

#footerImage{

  display: inline-block;
}
#footerTextBio{

  display: inline-block;
}

#footerTop h4{
  font-size: large;
}

#footerLeft{

  display: inline-block;
  margin-left: 270px;;
}

#footerCenter{

  display: inline-block;
  width: 100%;
  margin: 10px auto;
  text-align: center;
}